{% extends 'home/base.html' %}
{% load static %}

    
{% block content %}

<h1>Search Movie</h1>

<p>
    This is use some python backend for secure apikey and data system!
</p> <hr>

<label for="movie_form">Enter a Movie Title:</label> <br>
<form action="" id="movie_form">
    <input type="text" name="" id="movie_text" placeholder="Movie title...">
    <input type="submit" value="search!">
</form>
<hr>
<p id="msg"></p>

<!-- balises a remplir: -->
 <h3 id="movie_title"></h3>
 <br>
 <p id="movie_plot"></p>
 <div>
    <h5 id="casting"></h5>
    <ul id="actors"></ul>
 </div>
 <br>
 <h5 id="box_office_header"></h5>
 <p id="box_office"></p>




<script src="{% static 'movies/movie_search_api.js' %}"></script>
{% endblock content %}