
<div>
    {% if request.user.is_authenticated %}
        <p>
            😺 Hello {{request.user.username}} ! <br>
            <span>
               🔐 You can logout <a href="{% url 'authenticate:logout_page' %}">here</a> !
            </span>
        </p>
    {% else %}
        <p>
            &rarr; Who are you? <br>
            🔑 You can login <a href="{% url 'authenticate:login_page' %}">here</a> ! <br>
            
            <div class="centered">
                <small>
                    &rarr; Pas encore inscrit ?  => <a href="{% url 'authenticate:registration' %}">ici!</a>
                </small>
            </div>

        </p>

    {% endif %}
</div>