{% extends 'home/base.html' %}

    
{% block content %}

<!-- Vu que cette page sert a la fois pour : Create /Upadte 
 je vais gerer le titre en if : -->
<h1>
    {% if object.pk %}
        Update de {{object.name}} :
    {% else %}
        Ajout d'une race !
    {% endif %}
</h1>


    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}

    {% if object.pk %}
            <input type="submit" value="Update!" name="" id="">
    {% else %}
        <input type="submit" value="Ajout" name="" id="">
    {% endif %}

    </form>
    <a href="{% url 'cats:breed_list' %}"><button>Retour</button></a>

{% endblock content %}